
    {% extends "account.html" %}
    {% block edit %}
	<div class="edit-form-account-container container">
		<h4 class="p-3 fw-bold">Изменить персональную информацию</h4>
 		<p>Вы можете редактировать свою учетную запись, используя следующую форму:</p>
 		<form method="post" enctype="multipart/form-data">
 			<div class="row g-0">
 				<div class="col-md-3 mb-3">
 					<div class="input-group">
    		<input class="form-control" type="text" id="id_first_name" name="first_name" value="{{ user_form.instance.first_name }}">	
 					<span class="input-group-text" for="id_first_name">Имя</span>
 					</div>
 				</div>	
    	{% if user_form.first_name.errors %}
    		<ul class="errorlist">
      	{% for error in user_form.first_name.errors %}
      	<li>{{ error }}</li>
      	{% endfor %}
    		</ul>
    	{% endif %}
 			</div>
 			<div class="row g-0">
    	<div class="col-md-3 mb-3">
    		<div class="input-group">
    	 	<input class="form-control" type="text" id="id_last_name" name="last_name" value="{{ user_form.instance.last_name }}">
    	  <span class="input-group-text" for="id_last_name">Фамилия</span>
    	  {% if user_form.last_name.errors %}
    	  	<ul class="errorlist">
    	  	    {% for error in user_form.last_name.errors %}
    	  	        <li>{{ error }}</li>
    	  	    {% endfor %}
    	  	</ul>
    	  {% endif %}
    		</div>
    	</div>
 			</div>
 			<div class="row g-0">
    	<div class="col-md-3 mb-3">
    		<div class="input-group">
    	 	<input class="form-control" type="email" id="id_email" name="email" value="{{ user_form.instance.email }}">
    	  <span class="input-group-text" for="id_email">Email</span>
    	  {% if user_form.email.errors %}
        <ul class="errorlist">
         {% for error in user_form.email.errors %}
          <li>{{ error }}</li>
         {% endfor %}
        </ul>
       {% endif %}
    		</div>
    	</div>
 			</div>
 			<div class="row g-0">
    	<div class="col-md-3 mb-3">
    		<div class="input-group">
    	 	<input class="form-control" type="date" id="id_date_of_birth" name="date_of_birth" value="{{ profile_form.instance.date_of_birth }}">
    	  <span class="input-group-text" for="id_date_of_birth">Дата рождения</span>
    	  {% if profile_form.date_of_birth.errors %}
        <ul class="errorlist">
        {% for error in profile_form.date_of_birth.errors %}
         <li>{{ error }}</li>
        {% endfor %}
        </ul>
       {% endif %}
    		</div>
    	</div>
 			</div>
 			<div class="row g-0">
    	<div class="col-md-3 mb-3">
    		<div class="input-group">
    	 	<input class="form-control" type="file" id="id_photo" name="photo">
    	  <span class="input-group-text" for="id_photo">Фото профиля</span>
    	  {% if profile_form.photo.errors %}
       <ul class="errorlist">
           {% for error in profile_form.photo.errors %}
               <li>{{ error }}</li>
           {% endfor %}
       </ul>
       {% endif %}
       {% if profile_form.instance.photo %}
        <img src="{{ profile_form.instance.photo.url }}" alt="Фото профиля" style="width: 100px;">
       {% endif %}
    		</div>
    	</div>
 			</div>
 			{% csrf_token %}
 			<p>
 				<button class="btn btn-outline-dark" type="submit" style="margin-top: 15px;">Сохранить изменения</button>
 			</p>
            <a class="btn btn-outline-dark" href="{% url 'account' %}">Вернуться</a>
 		</form>
 	</div>
    {% endblock %}

