{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>Glazovskiy</title>
	<link rel="shortcut icon" href="../media/images/bookicongif.gif">
	<link rel="stylesheet" type="text/css" href="../media/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../media/css/style.css">
	<link rel="stylesheet" type="text/css" href="../media/css/slick.css"/>
	<link rel="stylesheet" type="text/css" href="../media/css/slick-theme.css"/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
 	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 	<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js"></script>
</head>

<body class="f-space">

	<div id="cr-widget-marquee"
  data-coins="bitcoin,ethereum,ripple,toncoin,tron,cardano,uniswap,solana,bnb,chainlink"
  data-theme="light"
  data-show-symbol="true"
  data-show-icon="true"
  data-show-period-change="true"
  data-period-change="3M"
  data-api-url="https://api.cryptorank.io/v0">
  <a href="https://cryptorank.io">Coins by Cryptorank</a>
  <script src="https://cryptorank.io/widget/marquee.js"></script>
 </div>

	{% include 'nav.html' %}


	<div class="container">
		<div class="row g-0">
			<div class="col-12">
				<div class="row g-0">
					<div class="col-lg-2 p-3">
						<h3>Book</h3>
						<ul class="list-unstyled" style="font-size: 12px;">
							<p>Категория</p>
							<li class="mb-2 mx-2"><a class="text-decoration-none custom-link" href="#" onclick="showBook('all', event);">Все книжки</a></li>
							<li class="mb-2 mx-2"><a class="text-decoration-none custom-link" href="#" onclick="showBook('crypto', event);">{{ category_1.name }}</a></li>
							<li class="mb-2 mx-2"><a class="text-decoration-none custom-link" href="#" onclick="showBook('prog', event);">{{ category_2.name }}</a></li>
						</ul>
					</div>
					<div class="col-lg-10">

						<div class="book-category row g-0" id="all-Books">
							<h5 class="text-center ">Все книги</h5>
							{% for single_book in all_book %}
							<div class="col-md-3 col-sm-6 mb-2">
								<a class="text-decoration-none" href="{% url 'Books_detail' single_book.slug %}">
										<div class="book-item m-2 p-2">
											<div class="book-img">	
												<img class="img-fluid" src="{{ single_book.book_img.url }}" alt="">
											</div>
											<h5 class="fw-bold my-2">{{ single_book.title }}</h5>
											<p class="text-danger">{{ single_book.desc|truncatewords:15 }}</p>
										</div>
								</a>
							</div>
							{% endfor %}
						</div>

						<!-- Программирование -->
						<div class="book-category row g-0" id="crypto-Books">
							<h5 class="text-center ">{{ category_1.name }}</h5>
							{% for book_cat_1 in book_category_1 %}
							<div class="col-md-3 col-sm-6 mb-2">
								<a class="text-decoration-none" href="">
										<div class="book-item m-2 p-2">
											<div class="book-img">	
												<img class="img-fluid" src="{{ book_cat_1.book_img.url }}" alt="">
											</div>
											<h5 class="fw-bold my-2">{{ book_cat_1.title }}</h5>
											<p class="text-danger">{{ book_cat_1.desc|truncatewords:15 }}</p>
										</div>
								</a>
							</div>
							{% endfor %}
							
						</div>
						<!-- Крипта -->
						<div class="book-category row g-0" id="prog-Books">
							<h5 class="text-center ">{{ category_2.name }}</h5>
							{% for book_cat_2 in book_category_2%}
							<div class="col-md-3 col-sm-6 mb-2">
								<a class="text-decoration-none" href="">
										<div class="book-item m-2 p-2">
											<div class="book-img">	
												<img class="img-fluid" src="{{ book_cat_2.book_img.url }}" alt="">
											</div>
											<h5 class="fw-bold my-2">{{ book_cat_2.title }}</h5>
											<p class="text-danger">{{ book_cat_2.desc }}</p>
										</div>
								</a>
							</div>
							{% endfor %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	{% include 'footer.html' %}

 <script src="../media/js/bootstrap.bundle.js"></script>
	<script src="../media/js/jquery-3.7.1.min.js"></script>
	<script src="../media/js/slick.min.js"></script>
	<script src="../media/js/test.js"></script>
	<script>
		console.log('123')

	</script>
</body>
</html>